# Fun with Pandas
## Video Game Sales
### Eugene Monnier | 05/27/2020

In [1]:
import pandas as pd

/home/emonnier/.cache/pypoetry/virtualenvs/fun-with-pandas-5MdLEXJj-py3.8/lib/python3.8/site-packages/pandas/compat/__init__.py:117: UserWarning: Could not import the lzma module. Your installed Python is incomplete. Attempting to use lzma compression will result in a RuntimeError.
  warnings.warn(msg)

In [2]:
df = pd.read_csv('./vgsales.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16598 entries, 0 to 16597
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Rank          16598 non-null  int64
 1   Name          16598 non-null  object
 2   Platform      16598 non-null  object
 3   Year          16327 non-null  float64
 4   Genre         16598 non-null  object
 5   Publisher     16540 non-null  object
 6   NA_Sales      16598 non-null  float64
 7   EU_Sales      16598 non-null  float64
 8   JP_Sales      16598 non-null  float64
 9   Other_Sales   16598 non-null  float64
 10  Global_Sales  16598 non-null  float64
dtypes: float64(6), int64(1), object(4)
memory usage: 1.4+ MB

In [3]:
df.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

### Most common publisher: Electronic Arts

In [94]:
df["Publisher"].mode()[0]

'Electronic Arts'

### Most common platform: Nintendo DS

In [95]:
df['Platform'].mode()[0]

'DS'

### Most common genre: Action

In [96]:
df['Genre'].mode()[0]

'Action'

### Top 20 highest grossing games:

In [7]:
df[['Name', 'Global_Sales']].sort_values('Global_Sales', ascending = False).head(n=20)

                                            Name  Global_Sales
0                                     Wii Sports         82.74
1                              Super Mario Bros.         40.24
2                                 Mario Kart Wii         35.82
3                              Wii Sports Resort         33.00
4                       Pokemon Red/Pokemon Blue         31.37
5                                         Tetris         30.26
6                          New Super Mario Bros.         30.01
7                                       Wii Play         29.02
8                      New Super Mario Bros. Wii         28.62
9                                      Duck Hunt         28.31
10                                    Nintendogs         24.76
11                                 Mario Kart DS         23.42
12                   Pokemon Gold/Pokemon Silver         23.10
13                                       Wii Fit         22.72
14                                  Wii Fit Plus         22.00
15                            Kinect Adventures!         21.82
16                            Grand Theft Auto V         21.40
17                 Grand Theft Auto: San Andreas         20.81
18                             Super Mario World         20.61
19  Brain Age: Train Your Brain in Minutes a Day         20.22

### North American sales median: 0.08

In [83]:
games_NA_sorted = df.sort_values('NA_Sales', ascending = False)
NA_median_index = int(games_NA_sorted.shape[0]/2)
print(NA_median_index)
NA_subset = games_NA_sorted[NA_median_index-5:NA_median_index+5]
NA_subset

8299

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
10802,10804,Bladestorm: The Hundred Years' War,X360,2007.0,Action,Tecmo Koei,0.08,0.01,0.00,0.01,0.10
9569,9571,Batman: Arkham Knight,PC,2015.0,Action,Warner Bros. Interactive Entertainment,0.08,0.03,0.00,0.01,0.13
8550,8552,Wakeboarding Unleashed Featuring Shaun Murray,PS2,2003.0,Sports,Activision,0.08,0.06,0.00,0.02,0.16
10799,10801,Mind Quiz,PSP,2006.0,Action,Ubisoft,0.08,0.01,0.00,0.01,0.10
9197,9199,The Walking Dead: Season Two,XOne,2014.0,Adventure,Telltale Games,0.08,0.05,0.00,0.01,0.14
9192,9194,Dino Crisis 3,XB,2003.0,Action,Capcom,0.08,0.03,0.03,0.00,0.14
10181,10183,Smash Court Tennis 3,X360,2007.0,Sports,Atari,0.08,0.02,0.00,0.01,0.11
8802,8804,Disney's The Lion King: Simba's Mighty Adventure,PS,2000.0,Action,Activision,0.08,0.06,0.00,0.01,0.15
8724,8726,Driven,PS2,2001.0,Racing,BAM! Entertainment,0.08,0.06,0.00,0.02,0.15
10793,10795,Glory Days 2,DS,2007.0,Strategy,Ghostlight,0.08,0.00,0.00,0.01,0.10

In [97]:
na_median_sales = df['NA_Sales'].median()
na_median_sales

0.08

In [98]:
df.shape

(16598, 11)

In [100]:
with_median = df[df['NA_Sales'] == na_median_sales]
with_median_count = len(with_median)
mid_of_median = with_median_count // 2

ten_median_na_sellers = with_median[mid_of_median - 5 : mid_of_median + 5]
ten_median_na_seller_names = list(ten_median_na_sellers.Name)
ten_median_na_seller_names

['Spider-Man: Edge of Time',
 'Turok: Evolution',
 'Deadpool',
 'GT Advance 2: Rally Racing',
 "A Witch's Tale",
 'Nickelodeon Dance',
 'Phantasy Star Collection',
 "LEGO Knights' Kingdom",
 'Family Game Night 4: The Game Show',
 'NBA Jam 2002']

In [84]:
# sorted_by_NA_Sales = df[['Name', 'NA_Sales']].sort_values('NA_Sales', ascending = False)
# print(sorted_by_NA_Sales)
# median_NA_sales = (sorted_by_NA_Sales.median(axis = 0))
# print(median_NA_sales)
# print(int(sorted_by_NA_Sales.size/2))
# NA_median_subset = sorted_by_NA_Sales[median_NA_sales[0]/2 - 5 : median_NA_sales[0]/2 + 5]
# NA_median_subset = sorted_by_NA_Sales.loc[int(sorted_by_NA_Sales.size/2) - 10 : int(sorted_by_NA_Sales.size/2) + 10]
# NA_median_subset

### How many deviations above/below the mean for North American sales is the top selling game of all time:

In [88]:
df['NA_Sales'].mad()

0.3081569384093578

In [91]:
df['NA_Sales'].std(axis=0)

0.8166830292988796